frontend/node_modules/**
frontend/.pnp
frontend/.pnp.*
frontend/.yarn/*
frontend/!.yarn/patches
frontend/!.yarn/plugins
frontend/!.yarn/releases
frontend/!.yarn/versions

# next.js
frontend/.next/
frontend/out/

# production
frontend/build

# misc
.DS_Store
*.pem

# debug
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# env files (can opt-in for commiting if needed)
frontend/.env*

# typescript
frontend/*.tsbuildinfo
frontend/next-env.d.ts

backend/venv/**
backend/**/*.db